################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VariousFunctions/obj
*.v2
.vs/VariousFunctions/v16/.suo
*.v2
.vs/VariousFunctions/v16/.suo
